*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(5, 5, 53);
    font-family: 'Courier New', Courier, monospace;
}
.flex-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.box-container-1{
    width: 50%;
    background-color: darkblue;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box-container-sub p{
    font-weight: lighter;
    color: rgb(245, 245, 245);  
}
ul{
    list-style: none;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

li{
    display: flex;
    flex-direction: column;
    
}

li p{
    margin-bottom: 5px;
}
.box-container-2{
    width: 50%;
    background-repeat: no-repeat;
    background: linear-gradient(0deg , rgba(27, 25, 56, .8), rgba(27, 25, 56, .8)), url("./header-desktop.jpg");
    background-size: cover;
    color: rgba(199, 36, 36, 0.6);
}
.box-container-2 img{
    width: 100%;
    height: 100%;
}
h2 span{
    color: purple;
}