*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Inter, san-serif;
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container{
    height: 400px;
    width: fit-content;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.box-container-1{
    width: 100%;
    background-color: hsl(244, 38%, 16%);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 70px 120px 70px 70px;
    display: flex;
    flex-direction: column;
}
.box-container-sub h2{
    font-size: 40px;
    line-height: 40px;
}
.box-container-sub p{
    font-weight: lighter;
    color: rgb(245, 245, 245); 
    line-height: 25px;
    margin: 25px 0;
}
ul{
    list-style: none;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

li{
    display: flex;
    flex-direction: column;
}
li p{
    margin-bottom: 5px;
}
.box-container-2{
    width: 100%;
    background: linear-gradient(0deg , rgba(27, 25, 56, .8), rgba(27, 25, 56, .8)), url("./header-desktop.jpg");
    background-size: cover;
    color: hsl(277, 64%, 61%);
}
.box-container-2 img{
    width: 100%;
    height: 100%;
}
h2 span{
    color: purple;
}